<h4 [ngStyle]="{color:attcolor}">DIRECTIVES</h4>
<h1 [ngClass]="{activeclass : true}">Table with Directives</h1>
<table class = 'table table-striped table-hover' style="border: 2px solid black;">
  <thead>       
     <tr>   
       <th *ngIf="flag">ID</th>     
       <th>Name</th>         
       <th>Age</th>     
      </tr>   
   </thead> 
    <tbody>       
      <tr *ngFor="let data of sampledata" style="border: 2px solid blue;">         
        <td *ngIf="flag">{{data.id}}</td>  
        <td>{{data.name}}</td>         
        <td>{{data.age}}</td>       
      </tr>   
    </tbody>
</table>

<button (click)="toggle()">Show/Hide</button>
