
<!-- <app-course></app-course>
<app-databind></app-databind>
<app-login></app-login>
<app-directive></app-directive>
<app-pipe></app-pipe>
<app-http></app-http> -->

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a style="color: black;" routerLink="/">Home</a> &nbsp;&nbsp;
        <a style="color: black;" routerLink="/course">Courses</a> &nbsp;&nbsp;
        <a style="color: black;" routerLink="/databind">Data Binding</a> &nbsp;&nbsp;
        <a style="color: black;" routerLink="/directive">Directives</a> &nbsp;&nbsp;
        <a style="color: black;" routerLink="/pipes">Pipes</a> &nbsp;&nbsp;
        <a style="color: black;" routerLink="/httpcomponent">HTTP Component</a> &nbsp;&nbsp;
        <a style="color: black;" routerLink="/tdf">TDF Component</a> &nbsp;&nbsp;
        <a style="color: black;" routerLink="/mdf">MDF Component</a> &nbsp;&nbsp;
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
